.form-section {
  h3 {
    font-size:1.2em;
    margin: 10px 0 0;
    border-bottom: 1px;
    border-color: $dark-grey;
  }
  //@include pop-out-shadow;

  background-color: #fff;
  margin: 60px auto 0 auto;

  .panel-heading {
    // border: 1px solid red;
    //background-color: $light;
  }

  form {
    //padding: $padding;
    //border: 1px solid green;

    button {
      border-color: $dark-grey;
      @include pop-out-shadow;

      margin-right: 10px;

      &:last-child {
        margin-right: 0px;
      }

      &.btn-primary {
        //background-color: $mid;
        //border-color: $mid-border;
        color: #fff;

        &:hover, &:active {
          background-color: $mid-border;
        }
      }
    }
  }
}

.left-spacer {
  margin: 0 0 0 10px;
}

.right-spacer {
  margin: 0 10px 0 0;
}

.add-skills-icon {
  font-size: 1.75em;
}

.add-skills {
  margin-bottom: 15px;

  .form-group {
    margin-bottom: 5px;
  }

  .skill {
    span.fa {
      color: $mid;
      margin-left: 5px;
    }
  }
}