.team-header {
  @include flex;

  align-items: center;
  background-color: $light-grey;
  padding: 10px 0 0;
  position: fixed;
  width: 273px;

  button {
    background: transparent;
    border: 0 none;
    //font-size: 1em;

    &.add-team-member-btn {
      padding: 6px;
      width: 42px;
      //border: 1px solid #333;
    }
  }

  h2 {
    width: calc(100% - (84px));
    font-size: 1em;
  }

  .row {
    margin: 0;
  }

  [class^="col-xs-"] {
    padding: 0 $padding 0 0;

    &:last-child {
      padding-right: 0;
    }
  }

  .delete-team-btn {
    background: transparent;
    width: 15px;
    color: $grey;
    margin: 3px;
  }

  .edit-team-btn {
    background: transparent;
    width: 15px;
    //border-right:1px solid #333;
    color: $grey;
  }
}