.team-member {
  border-radius: 0px;
  border-left:3px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: $white;


  margin-bottom: $padding;
  padding: 0;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  &.team-lead {
    .team-member-header {
      border-bottom: 1px solid #E6E6E6;
    }
    border-left:3px solid #009999;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-radius: 0px;
  }

  .team-member-header {
    @include flex;


    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0 0 6px;
    font-size: .9em;


    p {
      margin: 0;
      text-align: left;
      width: calc(100% - 30px);
    }

    .delete-team-member-btn {
      background: transparent;
      width: 15px;
      color: $grey;
      margin: 3px;
    }

    .edit-team-member-btn {
      background: transparent;
      width: 15px;
      color: $grey;
    }
  }

  .row {
    @include flex;

    align-items: flex-start;
    margin: 0;
    padding: 6px 12px;
  }

  .user-img {
    font-size: 3em;
    margin:0;
    padding:0;
    padding-right: 0;
  }

  .details {
    padding: 0;
    text-align: left;
    font-size:0.85em;
    margin-left: 20px;

    p {
      margin: 0;
    }
  }
}