.team-member {
  @include pop-out-shadow;

  margin-bottom: $padding;
  padding: 0;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    .team-member-header {
      border-color: $border-hover;
    }
  }

  &.team-lead {
    .team-member-header {
      background-color: $mid-light;
      border-color: $mid;
      color: #fff;
    }

    &:hover {
      .team-member-header {
        background-color: $mid;
        border-color: $mid-border;
      }
    }
  }

  .team-member-header {
    @include flex;

    align-items: center;
    background-color: $light;
    border-bottom: 1px solid;
    border-color: $border;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: 6px 12px;

    p {
      margin: 0;
      text-align: left;
      width: calc(100% - 30px);
    }

    .delete-team-member-btn {
      background: transparent;
      border: 0 none;
      font-size: 1.5em;
      height: 30px;
      line-height: 30px;
      text-align: center;
      width: 30px;
    }
  }

  .row {
    @include flex;

    align-items: flex-start;
    margin: 0;
    padding: 6px 12px;
  }

  .user-img {
    font-size: 4em;
    padding: 0;
    text-align: left;
  }

  .details {
    @include flex;

    flex-direction: column;
    justify-content: center;
    padding: 5px 0;
    text-align: right;

    p {
      margin: 0;
    }
  }
}